<div class="d-flex" style="">
  <div>
    <div class="d-flex">
      <div class="" style="margin-top: 50px; margin-left: 80px; height: 200px; ">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, height: 150, width: 150, class:"mt-4", style:"border-radius: 50%;" %>
        <% else %>
          <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png", height: 150, width: 150, class:"mt-4", style:"border-radius:50%"%>
        <% end %>
        <h5 class="mt-3 ms-2">Hello <%= current_user.first_name %></h5>
      </div>

      <div class="" style="margin-top: 50px; border-radius: 8px; margin-left: 50px; height: 200px;; width: 600px; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
        <div class="mt-2 ms-2">
          <h4 style="font-weight:bold">Search car in a location</h4>
          <form action="">
            <input type="text">
            <input type="submit" class="btn btn-success">
          </form>
          <hr>
          <div class="d-flex">
          <h4 style="font-weight:bold">Lent your car!</h4>
          <%= link_to "Publish your car", new_car_path, style:"width:400px", class:"ms-4 btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>

    <div class="" style="margin-top: 50px; padding-bottom:30px; border-radius: 8px; margin-left: 80px; height:; width: 800px; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <div class="container" style="margin-top: 20px;">
          <h3 style="font-weight:bold; padding-top: 20px;" class=""><i style="font-size: 20px; color:black" class="fa-solid fa-bell"></i> Pending actions </h3>
          <hr>
          <% if current_user.cars != []  %>
            <% cars = current_user.cars %>
            <% cars.each do |car| %>
              <% rentals = Rental.where(car_id: car.id) %>
              <% rentals.each do |rental|%>
                <% if rental.owner_acceptance == false %>
                  <div class="mt-3 d-flex justify-content-between">
                    <div class="">
                      <% user = User.find(rental.user_id) %>
                      <% if user.avatar.attached? %>
                        <%= cl_image_tag user.avatar.key, height: 40, width: 40, crop: :fill %>
                      <% else %>
                        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png", height: 40, width: 40, crop: :fill,  class:"avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <% end %>
                      <%= "#{user.first_name} has sent you a request for model #{car.model}" %>
                    </div>
                    <%= link_to "View", show_booked_rental_path(rental), class:"btn btn-light", style:"padding-bottom:30px; height:30px"%>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="mt-4" style="border-radius: 8px; padding-bottom:30px; margin-left: 80px; width: 800px; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <div class="container">
        <h3 style="font-weight:bold; padding-top: 20px;">Your bookings</h3>
        <hr>
        <%# if user has bookings at the moment %>
        <% if current_user.rentals != [] %>
          <% rentals = Rental.where(user_id: current_user.id) %>
          <% rentals.each do |rental| %>
            <% car = Car.find(rental.car_id) %>

           <div class="d-flex justify-content-between">
              <div class="d-flex">
                <img style= "width:100px; height: 100px" class="mt-2 mb-2" src="https://i.pinimg.com/originals/1f/47/4a/1f474a542a079e29a46724e53612ac67.jpg" alt="">
                <div class="ps-3">
                  <p>Model: <%= car.model %></p>
                  <% if rental.owner_acceptance == true %>
                    <div class="d-flex">
                    <p>Acceptance:<p>
                    <i class="ms-3 fa-solid fa-check"></i>
                    </div>
                  <% else rental.owner_acceptance == false %>
                    <div class="d-flex">
                    <p>Acceptance:<p>
                    <i class="ms-3 fa-solid fa-x"></i>
                    </div>
                  <% end %>
                  <p>Pickup location: <%= car.address%></p>
                  </div>
              </div>


              <%= link_to "View", show_booked_rental_path(rental), class:"btn btn-light", style:"padding-bottom:30px; height:30px"%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

     <div class="mt-4" style=" padding-bottom: 30px;border-radius: 8px; margin-left: 80px; width: 800px; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
       <div class="container">
        <h3 style="font-weight:bold; padding-top:20px">Lenting car</h3>
        <hr>
          <% if current_user.cars != [] %>
            <% lenting_car = current_user.cars %>
          <%# get the car detail %>
            <% lenting_car.each do |car| %>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <img style= "width:100px; height: 100px" class="mt-2 mb-2" src="https://i.pinimg.com/originals/1f/47/4a/1f474a542a079e29a46724e53612ac67.jpg" alt="">
                <div class="ps-3">
                  <p>Brand: <%= car.brand %></p>
                  <p>Category: <%= car.category%></p>
                  <p>Model: <%= car.model %></p>
                </div>
              </div>
              <%= link_to "Show", car_path(car), class:"btn btn-light", style:"height: 40px;"%>
            </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="" style="border-radius: 8px; margin-top: 50px; margin-left: 40px; margin-right:20px; width: 440px; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2); ">
    <h3 style="font-weight:bold"><i class="ms-3 mt-2 fa-solid fa-fire"></i>Hot cars</h3>
    <% @cars.each do |car|%>
    <div class="card mt-4 ms-2 me-2" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); width: 420px; border-radius:10px;">
      <img class="card-img-top" src="https://blog.dupontregistry.com/wp-content/uploads/2021/02/koenigseggjesko-scaled.jpg" alt="Card image cap" style="border-radius:10px; height:200px;">
      <div class="card-body d-flex justify-content-between">
        <div class="">
          <p class="card-title"><%= car.category %></p>
          <p class="card-text"><%= car.brand %></p>
          <p class="card-text"><%= car.model  %></p>
        </div>
        <%= link_to "Show", car_path(car), class:"btn btn-light", style:"height: 40px;"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
