<header>
  <div class="p-5 text-center bg-light">
    <h1 class="header-heading">Hey <%= current_user.first_name%>! <span><i class="fa-solid fa-hands-clapping"></i></span></h1>

    <h4 class="mt-5">All your rented cars</h4>
  </div>
</header>
<div class="container d-flex flex-wrap m-5 justify-content-left">
<% if !@rented_cars.empty? %>
<% @rented_cars.each do |rental|%>
<a style="text-decoration:none; color: black;" href="/my_rented_cars/<%=rental.id %>">
<div class="card m-3" style="width: 18rem;">
  <% photos = rental.car.photos %>
  <%= cl_image_tag photos[0].key, width: 290, height: 180, crop: :fill, class:"card-img-top"%>
  <div class="card-body">
    <h4>Your <%= rental.car.brand %> <%= rental.car.model %> rental</h4>
    <p class="card-text"><i class="fa-solid fa-calendar-days"></i> <%= rental.start_date %> to <%= rental.end_date %></p>
    <p class="card-text"><i class="fa-solid fa-location-dot"></i> Mexico City</p>
    <p class="card-text"><i class="fa-solid fa-user"></i> <%= rental.car.owner.first_name %> <%= rental.car.owner.last_name %></p>
    <p class="card-text">
    <% if rental.picked %>
    <span class="badge bg-success badge-pill badge-success">Picked</span>
    <% else %>
    <span class="badge bg-danger badge-pill badge-secondary">Non-picked</span>
    <% end %>
    </p>
  </div>
</div>
</a>
<% end %>
<% else %>
<div class="container d-flex justify-content-center">
<img class="no_content-image"src="https://res.cloudinary.com/djamfh5f6/image/upload/v1669755459/1491381-fococlipping-standard_tphv07.png" alt="Popeye thinking">
<div class="align-self-center m-5 d-flex flex-column">
<h3 class="mb-4" style="text-align:center">You don't a rental yet! </h3>
<div class="d-flex flex-row">
<%= link_to "See my posted cars", cars_path, class: "btn btn-dark btn-lg btn-block m-3" %>
<%= link_to "Post a new car", new_car_path, class: "btn btn-dark btn-lg btn-block m-3" %>
</div>
</div>
</div>
<% end %>
</div>
<div class="container text-center">
<% if !@rented_cars.empty? && Rental.returned_cars?(current_user)%>
<h2>Here is your rentals history</h2>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Car</th>
      <th scope="col">Rented to</th>
      <th scope="col">Driver review</th>
    </tr>
  </thead>
  <tbody>
<% @rented_cars.each do |rental| %>
<% if rental.returned %>
    <tr>
      <td><%= rental.car.brand %> <%= rental.car.model %></td>
      <td><%= rental.car.owner.first_name %> <%= rental.car.owner.last_name %></td>
      <td>You drive bad!</td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>
<% end %>
</div>
