<div class="map" style="width: 100%; height: 400px; border-radius-button: 10px"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="main-content">
  <div class="left-content">
    <div class="border card p-3">
      <h1 class="mt-3">Your <strong><%= @rental.car.brand %>, <%= @rental.car.model %></strong> rental car information</h1>
      <br>
      <img class="img-car" src="https://www.ford.mx/content/dam/Ford/website-assets/latam/mx/open-graph/2021/nameplate/escape-hibrida/ford-escape-hibrida-2021-camioneta-suv-especificaciones-capacidad-autonomia-poder.jpg" alt="">
      <div class="d-flex flex-column">
      <div class="d-flex flex-column">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <h2>Rental details</h2>
        <% if !@rental.owner_acceptance %>
        <span class="badge bg-danger badge-pill badge-success w-25">Not approved yet by you</span>
        <% else %>
        <span class="badge bg-success badge-pill badge-success w-25">Approved by you</span>
        <% end %>
      </div>
      </div>
       <div>
       <% if !@rental.owner_acceptance %>
        <h4>Rental request person </h4>
      <% else %>
        <h4>Host</h4>
       <% end %>
        <div class="d-flex flex-column p-3">
          <div>
            <p class="card-text"><span>
              <% if @rental.user.avatar.attached? %>
                <%= cl_image_tag @rental.user.avatar.key, height:40, width: 40, class:" img-circle" %></span> <%= @rental.user.first_name %> <%= @rental.user.last_name %></p>
              <% else %>
               <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png", height: 40, width: 40, class:"p-3 img-circle"%>
              <% end %>
            <p class="card-text"><span><i class="fa-solid fa-calendar-days"></i></span> <strong><%= @rental.start_date %></strong> to <strong><%= @rental.end_date %></strong> <p style="font-size:12px; margin-top:-15px">* Your <%= @rental.car.brand %>, <%= @rental.car.model %> <strong>has not other requests</strong> within this time interval.</p></p>
            <p class="card-text"><span><i class="fa-solid fa-location-dot"></i></span> <%= @rental.car.address %></p>
          </div>
        <div>
          </div>
        </div>
        <h4>Finance information </h4>
          <div class="d-flex flex-column p-3">
            <div>
              <p class="card-text"><span><i class="fa-solid fa-money-bill"></i></span> <%= @rental.car.price %>€ per day <p style="font-size:12px; margin-top:-15px">*This price was set by you when posting your car. You <strong>will not</strong> be able to change this price if you accept this rental request until <%= @rental.end_date %> when the car is returned.</p></p>
              <p class="card-text"><span><i class="fa-solid fa-sun"></i></span> <%= @days %> days<p style="font-size:12px; margin-top:-15px">*Each day corresponds to <strong>24hrs</strong>; It starts to count at the moment you deliver the car.</p></p>
              <p class="card-text"><span><i class="fa-solid fa-dollar-sign"></i></span> <%= @rental.total_cost %>€ Total<p style="font-size:12px; margin-top:-15px">*<%= @rental.user.first_name %> <%= @rental.user.last_name %> decided to book the car with a financial setting in which the total amount
              that will be blocked on its credit card is <%= @rental.excess %>€ from your approval until <strong><%= @rental.end_date %></strong> when the car is returned.</p></p>
              <p></p>
              <% if !@rental.owner_acceptance %>
                <%= link_to "Accept rental request", accept_rental_path(@rental, rental:{ owner_acceptance: true} ), data: {turbo_method: :patch}, class: "btn btn-dark"  %>
              <% end %>
            </div>
          </div>
       </div>
       </div>
    </div>
  </div>
  <div class="right-content">
    <div class="border card p-3">
    <h3><strong>Rental track</strong></h3>
    <div>
      <% if @rental.user_started_condition && @rental.owner_started_condition && !@rental.user_end_condition && !@rental.owner_end_condition%>
        <p>Rental Status: <span class="badge bg-success badge-pill badge-success">Delivered to Host</span></p>
        <%= link_to "Start car return proccess on #{@rental.end_date}", owner_receive_rental_path(@rental), class: "btn btn-dark disabled"  %>
      <% elsif !@rental.user_started_condition && !@rental.owner_started_condition && !@rental.user_end_condition && !@rental.owner_end_condition  %>
        <p>Rental Status: <span class="badge bg-danger badge-pill badge-success">Not delivered to host</span></p>
        <p>Delivery agreement: <span class="badge bg-danger badge-pill badge-success">Not accepted</span></p>
        <% if @rental.start_date <= Date.new %>
        <%= link_to "Start delivery proccess", owner_deliver_rental_path(@rental), class: "btn btn-dark"  %>
        <% else %>
        <%= link_to "Start delivery proccess on #{@rental.start_date}", owner_deliver_rental_path(@rental), class: "btn btn-dark disabled"  %>
        <% end %>
      <% elsif !@rental.user_started_condition && @rental.owner_started_condition && !@rental.user_end_condition && !@rental.owner_end_condition %>
        <p>Rental Status: <span class="badge bg-success badge-pill badge-success">Approved by you but not by the host</span></p>
      <% end %>
    </div>
    </div>
    </div>
  </div>
