<h1>Cars available to you</h1>
<%@cars.each do |car|%>
    <div class="card-product m-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos d-flex">
        <div>
          <h2><%car.owner.first_name%>'s <%=car.brand%> <%=car.model%></h2>
          <p>Year of manufacture <%=car.year%></p>
          <p>Color: <%=car.color%></p>
          <p>Number of seats: <%=car.number_of_seats%></p>
          <p>Number of doors: <%=car.number_of_doors%></p>
          <p>Engine Size (L): <%=car.engine_size%></p>
          </div>
        <div>
          <%= link_to "See Offer", car_path(car), class: "btn btn-outline-primary card-button"%>
        </div>
      </div>
    </div>
  <% end %>
