<div class = "d-flex m-4" style="width: 700px">
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered ms-4 me-2" style="width:70px; height:70px;" />
  <h1><%=@car.owner.first_name%>'s <%=@car.brand%> <%=@car.model%></h1>
</div>

<div class="d-flex justify-content-center" style="border-radius: 15px; width 100%; height:450px">
  <div>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width: 600px; border-radius: 15px 0px 0px 15px"/>
  </div>
  <div class = "ms-2">
    <div>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width: 300px;"/>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width: 300px; border-radius: 0px 15px 0px 0px"/>
    </div>
    <div>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width: 300px"/>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width: 300px; border-radius: 0px 0px 15px 0px"/>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-evenly" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); width: 70vw; border-radius: 15px;">
    <div class="mt-5 ms-5" style="bottom: 0; right: 0">
      <h2>Rental info</h2>
      <p><i class="fa-solid fa-car mt-3"></i><span> </span><%=@car.brand%> <%=@car.model%></p>
      <p><i class="fa-solid fa-business-time"></i><span> </span>Year of manufacture <%=@car.year%></p>
      <p><i class="fa-solid fa-droplet"></i><span> </span>Color: <%=@car.color%></p>
      <p><i class="fa-solid fa-chair"></i></i><span> </span>Number of seats: <%=@car.number_of_seats%></p>
      <p><i class="fa-solid fa-door-open"></i><span> </span>Number of doors: <%=@car.number_of_doors%></p>
      <p><i class="fa-solid fa-bolt"></i><span> </span>Engine Size (L): <%=@car.engine_size%></p>
      <h4><i class="fa-solid fa-dollar-sign"></i><span> </span>Price/day: £99.99</h4>
      <% if current_user && current_user != @car.owner %>
      <div class="d-flex justify-content-center">
        <a href="#new_rental" class="btn btn-outline-primary mt-3 me-2">Rent it!</a>
      </div>
      <% elsif current_user && current_user == @car.owner %>
        <div class="d-flex">
          <div class="m-1">
            <%= link_to "Edit this car!", edit_car_path(@car), class: "btn btn-outline-primary"%>
          </div>
          <div class="m-1">
            <%= button_to "Delete", car_path(@car), data:{confirm: "Are you sure?"}, method: :delete, class: "btn btn-outline-danger"%>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-center">
          <%= link_to "Sign up to rent!", new_user_registration_path, class: "btn btn-outline-primary mt-3 me-2"%>
        </div>
      <% end %>
    </div>
    <div>
      <div style="width: 40vw; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <hr style="width: 75%">
</div>

<% if current_user && current_user != @car.owner %>
  <div class="container" data-controller="coverage-form">
    <h2 style="text-align:center;"><strong>Rent this car!</strong></h2>
    <div class="m-4 d-flex flex-row justify-content-between">
        <div id="new_rental" class="card p-4" style="border-radius:10px; width: 40vw;">
          <h4>Select the days you will like to rent this car</h4>
          <%= simple_form_for([@car, @rental], data: { coverage_form_target: "form" }) do |f| %>
          <%= f.input :start_date, as: :date, html5:true %>
          <%= f.input :end_date, html5:true %>
          <%= f.submit 'Request rental', class:"btn btn-dark",  data: { action: "click->coverage-form#alert" }  %>
        </div>
        <div id="new_rental" class="card p-4" style="border-radius:10px; width: 40vw;" data-coverage-form-target="finance">
          <h4 class="mb-4">Select your coverage and excess level</h4>
          <div class="d-flex flex-row">
            <p style="text-align:center; font-size: 23px; margin: 0 auto; font-weight: 400; color: white" class="badge bg-dark badge-pill badge-success mt-1 mb-1">$<span data-coverage-form-target="coverageContainer">25</span>£ Coverage</p>
            <p style="text-align:center; font-size: 23px; margin: 0 auto; font-weight: 400; color: white " class="badge bg-dark badge-pill badge-success mt-1 mb-1">$<span data-coverage-form-target="excessContainer">1000</span>£ Excess</p>
          </div>
          <div class="excess-input">
          <%= f.input :excess, as: :range, input_html: {min:"0", max:"50",data:{action: "change->coverage-form#update", coverage_form_target: "coverage"}}, class:"form-range", label:false%>
          </div>
          <p class="mt-2">Increase the coverage to decrease the excess charged to your credit card. <strong>The coverage should be payed daily.</strong>  </p>
        </div>
          <%end%>
    </div>
  </div>
<%end%>
