<h1><%@car.owner.name%>'s <%=@car.brand%> <%=@car.model%></h1>

<div>
  <p>Year of manufacture <%=@car.year%></p>
  <p>Color: <%=@car.color%></p>
  <p>Number of seats: <%=@car.number_of_seats%></p>
  <p>Number of doors: <%=@car.number_of_doors%></p>
  <p>Engine Size (L): <%=@car.engine_size%></p>
  <p></p>
</div>
